<h1>Listing survey_results</h1>

<table>
  <tr>
    <th>User</th>
    <th>Question</th>
    <th>Survey</th>
    <th>Created at</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @survey_results.each do |survey_result| %>
  <tr>
    <td><%= survey_result.user %></td>
    <td><%= survey_result.question_id %></td>
    <td><%= survey_result.survey_id %></td>
    <td><%= survey_result.created_at %></td>
    <td><%= link_to 'Show', survey_result %></td>
    <td><%= link_to 'Edit', edit_survey_result_path(survey_result) %></td>
    <td><%= link_to 'Destroy', survey_result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey result', new_survey_result_path %>
